* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Grand Hotel", cursive;
}

body,
html {
  width: 100%;
  height: 100%;
 z-index: 10;
  position: relative;

}

header {
  position: relative;
  /* z-index: 1000; */
}

header::after {
  content: "Tic Tac Toe";
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
  color: #ffffff;
  font-size: 40px;
  font-weight: 400;
  position: absolute;
  /* z-index: 1000; */
}

.borderLine {
  position: absolute;
  top: 0;
  z-index: -1;
  left: 27px;
  border: 5px solid #e8e8eb;
  height: 500px;
  width: 320px;
  border-radius: 20px;

}

@keyframes borderLine {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.boxGameParent {
  left: 37px;
  top: 25px;
  position: absolute;
  width: 300px;
  height: 300px;
  z-index: 1;
  background-color: #e8e8eb;
  border-radius: 20px;
  display: grid;
  gap: 2px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  position: relative;
  animation: move 1s ease-in-out;
}

@keyframes move {
  0% {
    transform: translateY(-600px);
    opacity: 0;
  }
  50% {
    transform: translateY(100px);
    opacity: 0.5;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
.boxGameParent::before {
  content: "";
  background-color: #e8e8eb;
  height: 280px;
  width: 320px;
  border-radius: 20px;
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: -1;
  transform: translate(-50%, -50%);
}

main {
  width: 375px;
  height: 50%;
  
}

.squareDiv {
  background-color: #feb360;
  display: flex;
  align-items: center;
  justify-content: center;
  /* z-index: 1000; */
}
.imgs {
  height: 70px;
  width: 70px;
}

.cell1 {
  border-top-left-radius: 20px;
}

.cell3 {
  border-top-right-radius: 20px;
}

.cell7 {
  border-bottom-left-radius: 20px;
}

.cell9 {
  border-bottom-right-radius: 20px;
}

.data {
  margin-top: 16px;
}

.gameAndRound {
  display: flex;
  justify-content: space-around;
  color: #757575;
  font-size: 25px;
  z-index: 1000;
}

.noOfGameAndRound {
  display: flex;
  justify-content: space-around;
  /* z-index: 1000; */
}
.winner {
  text-align: center;
}
.names {
  display: flex;
  justify-content: space-around;
  color: #757575;
  font-size: 25px;
}
.plyrs {
  display: flex;
  justify-content: space-around;
  font-weight: 500;
}
.dataOfPlyrs {
  margin-top: 20px;
  width: 298px;
  margin-left: 40px;
}
.settingDiv {
  position: relative;
  background-color: #feb360;
  height: 40px;
  width: 40px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  z-index: -1;
  position: fixed;
  right: 0;
  padding-top: 5px;
  padding-left: 8px;
  top: 50%;
  transform: translateY(-50%);
}
.settingDiv::after {
  content: "";
  background-image: url(./assets/Setting_line.svg);
  position: absolute;
  z-index: 5;
  height: 40px;
  width: 40px;
  background-repeat: no-repeat;
}

.gameTable {
  height: 60px;
  width: 300px;
  border-radius: 10px;
  background-color: #191c32;
  color: #ffffff;
  font-size: 25px;
  display: flex;
  align-items: center;
  padding: 0 16px;
  margin: 45px auto;
  justify-content: space-between;
}
.subsign {
  display: flex;
  justify-content: space-between;
}
.gmGame,
.gmplayers {
  display: flex;
  justify-content: space-evenly;
  margin-top: 10px;
}
.NoOfRounds {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  margin-left: 48px;
  padding-top: 10px;
}
.nameOfWinners {
  flex-direction: column;
  justify-content: space-evenly;

  margin-left: 48px;
  padding-top: 10px;
}

.roudAndWinners {
  display: flex;
  margin-left: 20px;
}

.gmresult {
  display: none;
  height: 450px;
  width: 300px;
  border-radius: 10px;
  background-color: #191c32;
  color: #ffffff;
  font-size: 25px;
  padding: 10px 16px;
  margin: 45px auto;
}

.restart {
  height: 60px;
  width: 150px;

  text-align: center;
  border-radius: 10px;
  padding-top: 10px;
  font-size: 25px;
  margin: 45px auto;
  margin-top: -20px;
  border: 1px solid;
}
/* bob of .setting */
.backGround {
  background-color: rgba(0, 0, 0, 0.3);
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  z-index: 4;
  animation: popup 0.7s;
}

@keyframes popup {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3);
  }
  60% {
    transform: scale(1.1);
  }
  70% {
    transform: scale(1.2);
  }
  80% {
    transform: scale(1);
  }
  90% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
.bob {
  height: 500px;
  width: 320px;
  background-color: #191c32;
  border-radius: 20px;
  position: absolute;
  top: 150px;
  left: 30px;
  color: #ffffff;
  font-size: 25px;

}
/* choosing player as person or .computer */
.choosePlayer {
  text-align: center;
  margin-top: 25px;
}
.choicesOfOppent {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  width: 140px;
  margin-left: 90px;
}
.computerDiv {
  position: relative;
  border: 1px solid #ffffff;
  height: 50px;
  width: 50px;
  border-radius: 15px;
  padding-top: 10px;
  padding-right: 25px;
  text-align: center;
  appearance: none;
  z-index: 1;
}
input[name="CP"]:checked,
input[name="XO"]:checked,
input[name="plyrs"]:checked {
  background-color: #feb360;
  border: none;
}
.computerDiv::after {
  content: "";
  position: absolute;
  background-image: url(./assets/desktop.svg);
  z-index: 5;
  height: 24px;
  width: 24px;
  background-repeat: no-repeat;
}

.personDiv {
  position: relative;
  border: 1px solid #ffffff;
  height: 50px;
  width: 50px;
  border-radius: 15px;
  padding-top: 10px;
  padding-right: 25px;
  text-align: center;
  appearance: none;
  z-index: 1;
}

.personDiv::after {
  content: "";
  position: absolute;
  background-image: url(./assets/User.svg);
  z-index: 5;
  height: 24px;
  width: 24px;
  background-repeat: no-repeat;
}

/* name of players */
.plyrsNamesDiv {
  /* background-color: blueviolet; */
  margin-top: 10px;
  font-size: 23px;
}
#p1,
#p2 {
  display: block;
}
#firstPlayer,
#secondPlayer {
  font-size: 20px;
  display: none;
}

.youDiv {
  display: flex;
  justify-content: space-around;
  margin-bottom: 15px;
}
.OtherDiv {
  display: flex;
  justify-content: space-around;
}
.clr {
  color: #bbbbbb;
}
/* chooing sign */
.signDiv {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}
.ODiv {
  position: relative;
  border: 1px solid #ffffff;
  height: 50px;
  width: 50px;
  border-radius: 15px;
  padding-top: 15px;
  padding-right: 22px;
  text-align: center;
  appearance: none;
  z-index: 1;
}
.ODiv::after {
  content: "";
  position: absolute;
  background-image: url(./assets/Ellipse\ 52.svg);
  z-index: 5;
  height: 24px;
  width: 24px;
  background-repeat: no-repeat;
}

.XDiv {
  position: relative;
  border: 1px solid #ffffff;
  height: 50px;
  width: 50px;
  border-radius: 15px;
  padding-top: 3px;
  padding-right: 40px;
  text-align: center;
  appearance: none;
  z-index: 1;
}
.XDiv::after {
  content: "";
  position: absolute;
  background-image: url(./assets/Add_round.svg);
  z-index: 5;
  height: 35px;
  width: 35px;
  background-repeat: no-repeat;
}
/* chosing who will start the game  */
.whoStart {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 30px;
}
.plyr1 {
  position: relative;
  border: 1px solid #ffffff;
  height: 100%;
  width: 100%;
  border-radius: 15px;
  padding-top: 8px;
  padding-right: 20px;
  text-align: center;
  appearance: none;
  z-index: 1;
}
.choosePl {
  position: relative;
  height: 50px;
  width: 50px;
}
#pl1,
#pl2 {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 5;
  transform: translate(-50%, -50%);
}
.plyr2 {
  position: relative;
  border: 1px solid #ffffff;
  height: 100%;
  width: 100%;
  border-radius: 15px;
  padding-top: 8px;
  padding-right: 20px;
  text-align: center;
  appearance: none;
  z-index: 1;
}

/* <!-- make  style os reset and start buttons --> */
.reStart {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 35px;
  width: 230px;
  margin-left: 40px;
}
.reset {
  height: 50px;
  width: 100px;
  border: 1px solid #feb360;
  border-radius: 10px;
  text-align: center;
  padding-top: 5px;
}
.start {
  height: 50px;
  width: 100px;
  border: 1px solid #feb360;
  background-color: #feb360;
  border-radius: 10px;
  text-align: center;
  padding-top: 5px;
}
/* make responsive for desktop */
@media screen and (min-width: 1200px) {
  .bob {
    top: 30px;
  }
  header {
    text-align: center;
  }

  .borderLine,
  .boxGameParent,
  .bob {
    margin-left: 420px;
  }
  .boxGameParent {
    top: 5px;
  }
  .winner,
  .data {
    margin-left: 460px;
  }

  .data,
  .winner {
    width: 300px;
  }
  .winner {
    margin-left: 460px;
  }
  .gameTable {
    margin-top: 150px;
  }
  .dataOfPlyrs {
    margin-left: 450px;
    margin-top: 150px;
  }
  .settingDiv {
  }
}
/* making animation for winnig  */

@keyframes confetti-slow {
    0% {
      transform: translate3d(0, 0, 0) rotateX(0) rotateY(0);
    }
    100% {
      transform: translate3d(25px, 105vh, 0) rotateX(360deg) rotateY(180deg);
    }
  }
  @keyframes confetti-medium {
    0% {
      transform: translate3d(0, 0, 0) rotateX(0) rotateY(0);
    }
    100% {
      transform: translate3d(100px, 105vh, 0) rotateX(100deg) rotateY(360deg);
    }
  }
  @keyframes confetti-fast {
    0% {
      transform: translate3d(0, 0, 0) rotateX(0) rotateY(0);
    }
    100% {
      transform: translate3d(-50px, 105vh, 0) rotateX(10deg) rotateY(250deg);
    }
  }
  .container {
    width: 100vw;
    height: 100vh;
    /* background: #ffffff; */
    border: 1px solid white;
    display: fixed;


  }
  
  .confetti-container {
    perspective: 700px;
    position: absolute;
    overflow: hidden;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  
  .confetti {
    position: absolute;
    z-index: 1;
    top: -10px;
    border-radius: 0%;
  }
  .confetti--animation-slow {
    animation: confetti-slow 2.25s linear 1 forwards;
  }
  .confetti--animation-medium {
    animation: confetti-medium 1.75s linear 1 forwards;
  }
  .confetti--animation-fast {
    animation: confetti-fast 1.25s linear 1 forwards;
  }
.congrats{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);

}